<launch>
    <!-- Define arguments -->
    <arg name="pub_frequency" default="10" doc="Publishing frequency in Hz"/>
    <arg name="subscriber_output" default="log" doc="Output type for subscriber node (screen/log)"/>
    <arg name="publisher_output" default="screen" doc="Output type for publisher node (screen/log)"/>
    <arg name="agent_name" default="turtle_1" doc="Namespace for the agent"/>

    <!-- Launch turtlesim node -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" output="screen"/>
    <node pkg="tools" type="delay.sh" name="delay" args="1"/>
    <node pkg="rosservice" type="rosservice" name="kill_turtle1" args="call /kill 'turtle1'"/>
    <!-- Spawn a new turtle named turtle_1 -->
    <node pkg="rosservice" type="rosservice" name="spawn_turtle_1" args="call /spawn '5.0' '5.0' '0.0' '$(arg agent_name)'" />

    <!-- Launch position subscriber node -->
    <group ns="$(arg agent_name)">
    <node pkg="publisher_subscriber" type="position_subscriber.py" name="position_subscriber" 
          output="$(arg subscriber_output)">
          <!-- <remap from="/turtle1/pose" to="/pose"/> -->
    </node>
    <!-- Launch velocity publisher node -->
    <node pkg="publisher_subscriber" type="velocity_publisher.py" name="velocity_publisher" 
          output="$(arg publisher_output)">
        <param name="frequency" value="$(arg pub_frequency)"/>
        <!-- <remap from="/turtle1/cmd_vel" to="/cmd_vel"/> -->
    </node>
    </group>
</launch>